In [2]:
import pandas as pd

## Inputs

In [7]:
auto_seg= pd.read_csv("results/consensus_seg_annotated_cn_autosomes.tsv.gz",sep="\t")
xy_seg=pd.read_csv("results/consensus_seg_annotated_cn_x_and_y.tsv.gz",sep="\t")

In [8]:
auto_seg.head()

,biospecimen_id,status,copy_number,ploidy,ensembl,gene_symbol,cytoband
0,BS_007JTNB8,NaN,1,NaN,ENSG00000185904,LINC00839,10q11.21
1,BS_007JTNB8,NaN,1,NaN,ENSG00000165733,BMS1,10q11.21
2,BS_007JTNB8,NaN,1,NaN,ENSG00000234944,LINC02623,10q11.21
3,BS_007JTNB8,NaN,1,NaN,ENSG00000263795,MIR5100,10q11.21
4,BS_007JTNB8,NaN,1,NaN,ENSG00000165731,RET,10q11.21

In [9]:
xy_seg.head()

,biospecimen_id,status,copy_number,ploidy,ensembl,gene_symbol,cytoband,germline_sex_estimate
0,BS_00TRPEQX,NaN,2,NaN,ENSG00000181704,YIPF6,Xq12-q13.1,NaN
1,BS_00TRPEQX,NaN,2,NaN,ENSG00000130052,STARD8,Xq13.1,NaN
2,BS_00TRPEQX,NaN,2,NaN,ENSG00000090776,EFNB1,Xq13.1,NaN
3,BS_00TRPEQX,NaN,2,NaN,ENSG00000215162,LINC00269,Xq13.1,NaN
4,BS_00TRPEQX,NaN,2,NaN,ENSG00000130054,FAM155B,Xq13.1,NaN

### What are the unique values in `status` column

In [10]:
auto_seg.status.unique()

array([nan, 'deep loss'], dtype=object)

In [11]:
xy_seg.status.unique()

array([nan, 'deep loss'], dtype=object)

### Format to pedcbio values

In [11]:
auto_seg['pedcbio_status'] = auto_seg['status'].replace(['deep deletion','loss','gain','amplification'], [-2,-1,1,2])
auto_seg.head()

,biospecimen_id,status,copy_number,ploidy,ensembl,gene_symbol,cytoband,pedcbio_status
0,BS_007JTNB8,loss,1,2,ENSG00000185904,LINC00839,10q11.21,-1
1,BS_007JTNB8,loss,1,2,ENSG00000165733,BMS1,10q11.21,-1
2,BS_007JTNB8,loss,1,2,ENSG00000234944,LINC02623,10q11.21,-1
3,BS_007JTNB8,loss,1,2,ENSG00000263795,MIR5100,10q11.21,-1
4,BS_007JTNB8,loss,1,2,ENSG00000165731,RET,10q11.21,-1

In [12]:
xy_seg['pedcbio_status'] = xy_seg['status'].replace(['deep deletion','loss','gain'], [-2,-1,1])
xy_seg.head()

,biospecimen_id,status,copy_number,ploidy,ensembl,gene_symbol,cytoband,germline_sex_estimate,pedcbio_status
0,BS_00TRPEQX,loss,2,3,ENSG00000181704,YIPF6,Xq12-q13.1,Female,-1
1,BS_00TRPEQX,loss,2,3,ENSG00000130052,STARD8,Xq13.1,Female,-1
2,BS_00TRPEQX,loss,2,3,ENSG00000090776,EFNB1,Xq13.1,Female,-1
3,BS_00TRPEQX,loss,2,3,ENSG00000215162,LINC00269,Xq13.1,Female,-1
4,BS_00TRPEQX,loss,2,3,ENSG00000130054,FAM155B,Xq13.1,Female,-1

### Merge and save file

In [13]:
# remove germline_sex_estimate from xy seg file
xy_seg=xy_seg.drop(['germline_sex_estimate'],axis =1)
# merge
consensus_seg_concat = pd.concat([auto_seg, xy_seg], axis=0)

In [14]:
consensus_seg_concat.to_csv("consensus_seg_annotated_cn_autosomes_xy.tsv.gz",index=False, sep="\t")